$color-white :#fff;
$color-black :#000;

$default-font-size: 1.6rem;

$color-primary-1: #51474b;

$color-secondary-1: #c4b7a7;

$color-tertiary-1: #3e3757;

$color-quaternary-1: #8d0117;

$color-quinary-1: #674744;