.input {
  font-size: $default-font-size;
  width: 15vw;

  & label {
    display: block;
    text-align: left;
    padding: 1rem 0;
  }

  & input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 1rem 0;
    width: 100%;
  }
}